/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: '.*:CLASSIFYREADS_SHORT:CLASSIFYREADS:KRAKEN2_KRAKEN2'{
        ext.prefix = { "${meta.id}.kraken2" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxon/kraken2_bracken/short" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           // enabled: false
        ]
    }

    withName: '.*:CLASSIFYREADS_SHORT:CLASSIFYREADS:BRACKEN_BRACKEN'{
        ext.prefix = { "${meta.id}.bracken" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxon/kraken2_bracken/short" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
           // enabled: false
        ]
    }
    withName: '.*:CLASSIFYREADS_SHORT:CLASSIFYREADS:BRACKEN_COMBINEBRACKENOUTPUTS'{
        ext.prefix = { "${meta.id}.short_reads" }
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: '.*:CLASSIFYREADS_SHORT:CLASSIFYREADS:SYLPH_PROFILE' {
        ext.prefix = {"${meta.id}.sylph_profile"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxon/sylph_sylphtax/short" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: '.*:CLASSIFYREADS_SHORT:CLASSIFYREADS:SYLPHTAX_TAXPROF' {
        ext.prefix = {"${meta.id}.sylph-tax_taxprof"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxon/sylph_sylphtax/short" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: '.*:CLASSIFYREADS_SHORT:CLASSIFYREADS:SINGLEM_PIPE'{
        ext.prefix = { "${meta.id}.singlem" }
        publishDir = [

            path: { "${params.outdir}/${meta.id}/taxon/singlem/short" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

     withName: '.*:CLASSIFYREADS_LONG:CLASSIFYREADS:KRAKEN2_KRAKEN2'{
        ext.prefix = { "${meta.id}.kraken2" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxon/kraken2_bracken/long" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }

    withName: '.*:CLASSIFYREADS_LONG:CLASSIFYREADS:BRACKEN_BRACKEN'{
        ext.prefix = { "${meta.id}.bracken" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxon/kraken2_bracken/long" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: true
        ]
    }
    withName: '.*:CLASSIFYREADS_LONG:CLASSIFYREADS:BRACKEN_COMBINEBRACKENOUTPUTS'{
        ext.prefix = { "${meta.id}.long_reads" }
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*:CLASSIFYREADS_LONG:CLASSIFYREADS:SYLPH_PROFILE' {
        ext.prefix = {"${meta.id}.sylph_profile"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxon/sylph_sylphtax/long" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: '.*:CLASSIFYREADS_LONG:CLASSIFYREADS:SYLPHTAX_TAXPROF' {
        ext.prefix = {"${meta.id}.sylph-tax_taxprof"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxon/sylph_sylphtax/long" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: '.*:CLASSIFYREADS_LONG:CLASSIFYREADS:SINGLEM_PIPE'{
        ext.prefix = { "${meta.id}.singlem" }
        publishDir = [

            path: { "${params.outdir}/${meta.id}/taxon/singlem/long" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: 'GTDBTK_ANIREP' {
        ext.args   = ''
        ext.prefix = { "${meta.id}.gtdbtk_anirep" }
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            pattern: '*.{ani_closest.tsv,ani_summary.tsv}',
           /*  saveAs: { filename ->
                if (filename == 'versions.yml') return null
                // Simply remove any leading directory component
                return filename.split('/').last()
            } */
        ]
    }

}
